# ide folders
nbproject
.idea

# redirect page
index.php

# composer things
composer.lock
vendor

# .pem files from FIDO Alliance Metadata Service (MDS)
_test/rootCertificates/mds/*.pem
_test/rootCertificates/mds/lastMdsFetch.txt
